/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-06-2017, 09:48:08 PM
    Author     : bruno
*/

*{
    margin: 3px;
    padding: 3px;
}
h1{
    font: bold 20px verdana, sans-serif;
}

h2{
    font: bold 14px verdana, sans-serif;
} 

header, section, footer, aside, nav, article, figcaption, figure,
hgroup{
    display: block;
}

body{
    text-align: center;
}
#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}
#cabecera{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;

    border: 1px solid #999999;
    background: #dddddd;
    /*Valores para border radius
    -moz-border-radius: 20px / 10px;
    -webkit-border-radius: 20px / 10px;
    border-radius: 20px / 10px;
    /*Box shadow
    -moz-box-shadow: rgb(150,150,150) 5px 5px 10px; 
    -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px; 
    box-shadow: rgb(150,150,150) 5px 5px 10px; 
    /*inset introduce la sonbra al interior del contenido
    -moz-box-shadow: rgb(150,150,150) 5px 5px 10px inset; 
    -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px inset; 
    box-shadow: rgb(150,150,150) 5px 5px 10px inset; 
    
    */
    /*gradiebte Lineal
    background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
    background: -moz-linear-gradient(top, #FFFFFF, #006699);
/*
    outline: 1px dashed #000099;
    outline-offset: 5px;

    border: 29px;
    -moz-border-image: url("1.jpg") 29 stretch;
    -webkit-border-image: url("1.jpg") 29 stretch;
    border-image: url("1.jpg") 29 stretch;

    -moz-transform: scale(2);
    -webkit-transform: scale(2);

    -moz-transform: scale(1,-1);
    -webkit-transform: scale(1,-1);

    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);

    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);

    -moz-transform: translate(100px);
    -webkit-transform: translate(100px);
        
    -moz-transform: translateY(100px) rotate(45deg) scaleX(0.3);
    -webkit-transform: translateY(100px) rotate(45deg) scaleX(0.3);*/

    /*transiciones*/
    -moz-transition: -moz-transform 1s ease-in-out 0.5s;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
}

#cabecera:hover{
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}

#titulo{
    font: bold 36px  MiNuevaFuente, verdana, sans-serif;
    text-shadow: rgb(0,0,90) 3px 3px 5px;
    color: hsla(50, 100%, 50%, 0.5);
}
#menu{
    background: #cccccc;
    padding: 5px 15px;
}
@font-face { 
    font-family: 'MiNuevaFuente'; 
    src: url('font.ttf'); 
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
#session{
    float: left;
    width: 660px;
    margin: 5px;
}
#columna{
    float: left;
    width: 200px;
    margin: 5px 0px;
    padding: 20px;
    background: #cccccc;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
article { 
    background: #FFFBCC; 
    border: 1px solid #999999; 
    padding: 20px; 
    margin-bottom: 15px; 
} 
article footer { 
    text-align: right; 
} 
time { 
    color: #999999; 
} 
figcaption { 
    font: italic 14px verdana, sans-serif; 
}
div { 
    width: 100px; 
    margin: 20px; 
    padding: 10px; 
    border: 1px solid #000000; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}