/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-06-2017, 09:48:08 PM
    Author     : bruno
*/

*{
    margin: 3px;
    padding: 3px;
}
h1{
    font: bold 20px verdana, sans-serif;
}

h2{
    font: bold 14px verdana, sans-serif;
} 

header, section, footer, aside, nav, article, figcaption, figure,
hgroup{
    display: block;
}

html, body {
            height: 100%;
            width: 100%;
            margin: 0;
        }
#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

.cabecera{
            height: 50px;
            background-color: blue;
        }
        .cabecera h2{
            color: #fff;
            margin-top: 0;
        }
        #mapa{
            height: 400px;
            width: 700px;
            border: solid 3px blue;
        }

#titulo{
    font: bold 36px  MiNuevaFuente, verdana, sans-serif;
    text-shadow: rgb(0,0,90) 3px 3px 5px;
    color: hsla(50, 100%, 50%, 0.5);
}
#menu{
    background: #cccccc;
    padding: 5px 15px;
}
@font-face { 
    font-family: 'MiNuevaFuente'; 
    src: url('font.ttf'); 
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
#mapa{
    float: left;
    width: 660px;
    margin: 5px;
}
#columna{
    float: left;
    width: 200px;
    margin: 5px 0px;
    padding: 20px;
    background: #cccccc;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
article { 
    background: #FFFBCC; 
    border: 1px solid #999999; 
    padding: 20px; 
    margin-bottom: 15px; 
} 
article footer { 
    text-align: right; 
} 
time { 
    color: #999999; 
} 
figcaption { 
    font: italic 14px verdana, sans-serif; 
}
div { 
    width: 100px; 
    margin: 20px; 
    padding: 10px; 
    border: 1px solid #000000; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}